body{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(78, 75, 75);
}
#calculator{
    background-color: rgb(211, 183, 118);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:rgb(78, 77, 77);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(16, 34, 34);
}
button:active{
    background-color: rgb(200, 171, 76);
}